body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50PX;
    font-weight: bold;
}

form {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px;
    border: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 3px;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}


form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 20px 20px;
    cursor: pointer;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.MarcadorDeLinha {
    text-decoration: line-through;
}